<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IUUTour.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IUU_Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9EFB805B1AF7CC7200367B22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF0441491BDF190D00807430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF0441611BDF190E00807430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF04416C1BDF190E00807430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
